
{% extends "base.html" %}
{% load static %}
{% block content %}
    <main id="main" class="site-main" role="main">


        <article id="post-9" class="post-9 page type-page status-publish hentry">

            <header class="entry-header">
                <h1 class="entry-title screen-reader-text">Klinisch psycholoog</h1>
            </header><!-- .entry-header -->

            <div class="entry-content mx-auto" style="width: 750px">

                <p align="center"><img class="size-medium wp-image-68 "
                        src="{% static "images/DSC03901.jpg" %}" alt="DSC03901"
                        width="300" height="199"
                        sizes="(max-width: 300px) 100vw, 300px"></p>
                <p>In 2013 studeerde ik af als Master in de Klinische Psychologie(UGent). Sindsdien school ik mij bij op
                    basis van studiedagen, seminaries, lezingen, (technische) supervisies, … en een therapeutische
                    opleiding aan de UGent.</p>
                <p>Ervaring doe/deed ik op in een psychiatrisch centrum, bij PANTER (afdeling Vlaamse Kruis voor
                    traumabegeleiding), bij ondersteunend wonen en in mijn zelfstandige praktijk. Dit alles oriënteer ik
                    vanuit een psychoanalytisch denken.</p>
                <p>Mijn erkenningsnummer bij de Belgische Federatie voor Psychologen is 86214402.</p>
                <p>&nbsp;</p>


            </div><!-- .entry-content -->


        </article><!-- #post-9 -->


    </main>

{% endblock %}