{% extends "base.html" %}
{% block content %}
    <div id="content" class="site-content center-content-mobile mx-auto">
        <main id="main" class="site-main" role="main">
            <div class="mx-auto">
                <header class="entry-header">
                    <h1 class="entry-title screen-reader-text">Bereikbaarheid</h1>
                </header><!-- .entry-header -->

                <p>De praktijk is gelegen in de Fuchsiastraat 54, 9000 Gent en deze deel ik met mijn collega Kate (<a
                        href="http://www.katevandermeulen.be">http://www.katevandermeulen.be</a> ).<br>
                    Ze is gemakkelijk te bereiken met fiets, auto en tram/bus. Aan het einde van de straat is een
                    bushalte voor
                    volgende
                    bussen: 5, 52,53 en 54. Op de kruising van de nabijgelegen Hortensiastraat en de Francisco
                    Ferrerlaan kan je ook
                    tram 1 nemen. Parkeren in de buurt is sinds kort niet overal meer gratis.</p>
            </div>
        </main>
    </div>
{% endblock %}