{% extends "base.html" %}
{% block content %}
    <div id="content" class="site-content center-content-mobile mx-auto">
        <main id="main" class="site-main" role="main">
            <div class="mx-auto">
                <header class="entry-header">
                    <h1 class="entry-title screen-reader-text">Bereikbaarheid</h1>
                </header><!-- .entry-header -->

                <p>Het adres van de praktijk is Brugsesteenweg 130, 9000 Gent.<br>
                    Ze is gemakkelijk te bereiken met fiets, auto en tram/bus. 
                    Er zijn bushaltes voor bus 3 en 9 binnen de 100 meter. Parkeren in de buurt is niet overal gratis.</p>
            </div>
        </main>
    </div>
{% endblock %}
