{% extends "base.html" %}
{% block content %}
    <div id="content" class="site-content center-content-mobile mx-auto" style="width: 750px" align="center">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">


                <article id="post-35" class="post-35 page type-page status-publish hentry">

                    <header class="entry-header">
                        <h1 class="entry-title screen-reader-text">Afspraak maken</h1>
                    </header><!-- .entry-header -->

                    <div class="entry-content">

                        <p>Je kan een afspraak maken via onderstaand e-mail adres of telefoonnummer.<br>
                            Afspraken zijn mogelijk op onderstaande uren.</p>
                        <p>e-mail: <a href="mailto:ljgoossens@outlook.com">ljgoossens@outlook.com</a></p>
                        <p>telefoon: +32 (0)479 84 64 14</p>
                        <p>Maandag tussen 8:00 en 21:00<br>
                            Dinsdag tussen 8:00 en 17:00<br>
                            Donderdag tussen 8:00 en 21:00<br>
                            Vrijdag tussen 8:00 en 21:00</p>


                    </div><!-- .entry-content -->


                </article><!-- #post-35 -->


            </main><!-- #main -->
        </div><!-- #primary -->


    </div>

{% endblock %}