{% extends "base.html" %}
{% block content %}
    <div id="content" class="site-content center-content-mobile mx-auto">
        <main id="main" class="site-main" role="main">
            <div class="entry-content mx-auto">
                <header class="entry-header">
                    <h1 class="entry-title screen-reader-text">De praktijk</h1>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p></p>
                    <p>Een psychotherapie aanvatten is geen eenvoudige beslissing. Het is het proberen los te komen van
                        psychisch
                        leed,
                        van datgene waar je keer op keer tegenaan loopt. Het respecteren van het tempo waarop je de
                        dingen wil en
                        kan
                        brengen is hierbij belangrijk. Hierdoor kan de duur van een therapie enorm verschillen van
                        persoon tot
                        persoon.</p>
                    <p>Psychisch leed kan op verschillende manieren tot uiting komen:&nbsp; specifieke symptomen,
                        ruimere klachten
                        of
                        lichamelijke klachten, bijvoorbeeld:</p>
                    <div class="entry-content-sub" style="padding-left: 30px;">
                        <p>Rouwverwerking, scheiding, ziekte, ontslag, traumatische ervaringen</p>
                        <p>Relationele moeilijkheden allerhande</p>
                        <p>Depressieve gevoelens en suïcidale gedachten</p>
                        <p>Aanpassingsmoeilijkheden: alleen wonen, relatiebreuk, nieuw-samengesteld gezin, lege nest,
                            (nakend) pensioen</p>
                        <p>Existentiële vragen en zingevingsproblemen:</p>
                        <p>Wat wil ik doen met mijn leven? Er ontbreekt iets in mijn leven, maar wat?</p>
                        <p>Tekort aan sociale weerbaarheid en zelfvertrouwen</p>
                        <p>Stemmingswisselingen en automutilatie</p>
                        <p>Angsten, stress, hyperventilatie</p>
                        <p>Dwanggedachten en -handelingen</p>
                        <p>Eetmoeilijkheden</p>
                        <p>Problemen op het werk of op school</p>
                        <p>Chronische pijn / acceptatie van (lichamelijke) beperkingen</p>
                        <p>Psychosomatische klachten: jeuk, pijnen, flauwvallen, haaruitval, ongecontroleerde
                            spier(ont)spanning, … </p>
                        <p>Alcohol- en middelenmisbruik</p>
                        <p>Psychotische problematiek</p>
                    </div>
                    <p></p>
                    <p style="text-align: left;">Wanneer je iets niet meer kan (ver)dragen en je op zoek bent naar een
                        manier om
                        hier
                        mee om te gaan, dan kan je terecht in onze praktijk. Hier kan er gesproken en gedacht worden
                        binnen een
                        veilig
                        kader, dat zich gestut weet met beroepsgeheim.</p>

                </div>
        </main>
    </div>

{% endblock %}