
{% extends "base.html" %}
{% block content %}
    <div class="entry-content mx-auto">
        <p></p>
        <p>Een psychotherapie aanvatten is geen eenvoudige beslissing. Het is het proberen los te komen van psychisch
            leed,
            van datgene waar je keer op keer tegenaan loopt. Het respecteren van het tempo waarop je de dingen wil en
            kan
            brengen is hierbij belangrijk. Hierdoor kan de duur van een therapie enorm verschillen van persoon tot
            persoon.</p>
        <p>Psychisch leed kan op verschillende manieren tot uiting komen:&nbsp; specifieke symptomen, ruimere klachten
            of
            lichamelijke klachten, bijvoorbeeld:</p>
        <div class="entry-content-sub" style="padding-left: 30px;">
            <li>Rouwverwerking, scheiding, ziekte, ontslag, traumatische ervaringen</li>
            <li>Relationele moeilijkheden allerhande</li>
            <li>Depressieve gevoelens en suïcidale gedachten</li>
            <li>Aanpassingsmoeilijkheden: alleen wonen, relatiebreuk, nieuw-samengesteld gezin, lege
                nest, (nakend) pensioen
            </li>
            <li>Existentiële vragen en zingevingsproblemen:</li>
            <li>Wat wil ik doen met mijn leven? Er ontbreekt iets in mijn leven, maar wat?</li>
            <li>Tekort aan sociale weerbaarheid en zelfvertrouwen</li>
            <li>Stemmingswisselingen en automutilatie</li>
            <li>Angsten, stress, hyperventilatie</li>
            <li>Dwanggedachten en -handelingen</li>
            <li>Eetmoeilijkheden</li>
            <li>Problemen op het werk of op school</li>
            <li>Chronische pijn / acceptatie van (lichamelijke) beperkingen</li>
            <li>Psychosomatische klachten: jeuk, pijnen, flauwvallen, haaruitval, ongecontroleerde
                spier(ont)spanning, …
            </li>
            <li>Alcohol- en middelenmisbruik</li>
            <li>Psychotische problematiek</li>
        </div>
        <p></p>
        <p style="text-align: left;">Wanneer je iets niet meer kan (ver)dragen en je op zoek bent naar een manier om
            hier
            mee om te gaan, dan kan je terecht in onze praktijk. Hier kan er gesproken en gedacht worden binnen een
            veilig
            kader, dat zich gestut weet met beroepsgeheim.</p>

    </div>

{% endblock %}